body {
  font-family: 'Poppins', sans-serif;
  background-color: #00b8fc;
}

/**
 * GENERAL
 */
img {
  max-width: 100%;
  height: auto;
}

/**
 * HEADER
 */
header {
  background: #444;
}

.header__container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 10vh;
}

.header__brand {
  /*background: lime;*/
  flex: 1;
}

.header__navbar {
  /*background: cyan;*/
  flex: 2;
}

.header__tools {
  /*background: black;*/
  flex: 1;
}

.navbar__nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.tools__nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar__link, .tools__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.tools__link {
  margin-left: 30px;
}

/*
 * PRESENTATION
 */
.presentation {
  display: flex;
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.text-area__heading {
  font-size: 44px;
  font-weight: 700;
  margin:0;
  /* Linear gradient text */
  background: linear-gradient(to right, #eee, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-area__description {
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
}

.introduction__cta-area {
  padding-top: 50px;
}

.cta-area__add-to-cart-btn {
  background-color: #444;
  width: 175px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #444;
  color: #fff;
}

.cta-area__online-retailers-btn {
  background-color: transparent;
  width: 175px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 5px;
}

.cover {
  flex: 1;
}

.cover__image {
  /* Drop shadow on product image */
  filter: drop-shadow(0 5px 3px #000);
  animation: drop 1.5s ease;
}

/* 
 * DROP ANIMATION
 */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}